
.blogs__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    
}
.blog{
    background: var(--color-bg-variant);
    border-radius: 1rem;
    color: white;
}
.blog-body{
    padding: 1rem;
}
.blog-body h4{
    margin-top: 1rem;
}
.blog-body h5 {
    color: var(--color-primary);
   
}

.thumbnail{
    position: relative;
    min-height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-position: 50%;
}
.author-image{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    margin-left: 1rem;
    border: 3px solid var(--color-primary-variant);
    box-shadow: 0 0 0 0.125rem var(--color-primary-variant), 0 0.1875rem 0.4375rem var(--color-primary-variant);
}
@media screen and (max-width: 1024px) {
    .blogs__container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .blogs__container{
        grid-template-columns: 1fr;
    }
}